<div
  class="card"
  @fadeIn
  [ngStyle]="{ 'background-image': 'url(' + vacation?.imageUrl + ')' }"
>
  <div class="layer1"></div>
  <div class="layer2"></div>
  <div class="layer3"></div>
  <div class="layer4"></div>
  <div class="layer5"></div>
  <div (click)="user?.roleId ? null : toggle()" class="likes">
    <!-- prettier-ignore -->
    <i-tabler
      [ngClass]="{ 'selected': isLiked(), 'admin-cancel-interaction': user?.roleId === 1}"
      name="heart"
      class="heart-icon"
    />
    <span
      *ngIf="vacation?.likesIds?.length"
      [ngClass]="{ 'admin-cancel-interaction': user?.roleId === 1 }"
      >{{ vacation?.likesIds.length }}</span
    >
  </div>
  <div *isAdmin class="admin-actions">
    <i-tabler name="trash" (click)="deleteVacation()" />
    <a [routerLink]="['/edit/', vacation?._id]">
      <i-tabler name="edit" />
    </a>
  </div>

  <h3>{{ vacation?.destination }}</h3>
  <button class="purchase-btn">
    {{ vacation?.price | currency : "EUR" }}
  </button>

  <p>{{ vacation?.description?.substring(0, 150) }}...</p>
  <div class="footer">
    <div class="date-icon-pair">
      <i-tabler name="plane-departure" />
      <span> {{ vacation?.startDate | date : "dd/MM/YYYY" }}</span>
    </div>

    <div class="date-icon-pair">
      <span> {{ vacation?.endDate | date : "dd/MM/YYYY" }}</span>
      <i-tabler name="plane-arrival" />
    </div>
  </div>
</div>
