<div>
  <nav *ngIf="!authService.isLoggedIn">
    <a routerLink="/register">Register</a>
    <span> | </span>
    <a routerLink="/login">Login</a>
    <span> | </span>
    <a routerLink="/about">About Us</a>
  </nav>

  <nav *ngIf="authService.isLoggedIn">
    <a routerLink="/login" (click)="logout()">Log Out</a>
    <span> | </span>
    <a routerLink="/about">About Us</a>
    <span> | </span>
    <p>Hi {{ authService.user.firstName }}</p>
  </nav>

  <header>
    <h1>Vacations Are Us</h1>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
