<div>
  <nav *ngIf="!authService.isLoggedIn">
    <a routerLink="/register">Register</a>
    <span> | </span>
    <a routerLink="/login">Login</a>
    <span> | </span>
    <a routerLink="/about">About Us</a>
  </nav>

  <nav *ngIf="authService.isLoggedIn">
    <!-- if roleId is truthy (equals 1 instead of 0) user is admin:  -->
    <a *ngIf="user?.roleId" routerLink="/add">Add Vacation</a>
    <span *ngIf="user?.roleId"> | </span>
    <a *ngIf="user?.roleId" routerLink="/report">Report</a>
    <span *ngIf="user?.roleId"> | </span>
    <a routerLink="/login" (click)="logout()">Log Out</a>
    <span> | </span>
    <a routerLink="/about">About Us</a>
    <span> | </span>
    <span>Hi {{ user?.firstName }}</span>
    <span *ngIf="user?.roleId"> | </span>
    <span *ngIf="user?.roleId"> Admin Access</span>
  </nav>
  <header>
    <h1>Vacations Are Us</h1>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
