<div>
  <form (ngSubmit)="send()" #registrationForm="ngForm">
    <label for="firstName">first name</label>
    <input
      type="text"
      name="firstName"
      #firstNameBox="ngModel"
      [(ngModel)]="newUser.firstName"
      required
      minlength="2"
      maxlength="20"
    />
    <span
      *ngIf="firstNameBox.touched && firstNameBox.errors?.['required']"
      class="error"
      >Missing first name</span
    >
    <span
      *ngIf="firstNameBox.touched && firstNameBox.errors?.['minLength']"
      class="error"
      >First name has to be longer than one character</span
    >
    <span
      *ngIf="firstNameBox.touched && firstNameBox.errors?.['maxLength']"
      class="error"
      >First name cannot be longer than 20 characters</span
    >

    <label for="lastName">last name</label>
    <input
      type="text"
      name="lastName"
      #lastNameBox="ngModel"
      [(ngModel)]="newUser.lastName"
      required
      minlength="2"
      maxlength="20"
    />
    <span
      *ngIf="lastNameBox.touched && lastNameBox.errors?.['required']"
      class="error"
      >Missing last name</span
    >
    <span
      *ngIf="lastNameBox.touched && lastNameBox.errors?.['minLength']"
      class="error"
      >Last name has to be longer than one character</span
    >
    <span
      *ngIf="lastNameBox.touched && lastNameBox.errors?.['maxLength']"
      class="error"
      >Last name cannot be longer than 20 characters</span
    >

    <label for="email">email</label>
    <input
      type="email"
      name="email"
      #emailBox="ngModel"
      [(ngModel)]="newUser.email"
      required
    />
    <span
      *ngIf="emailBox.touched && emailBox.errors?.['required']"
      class="error"
      >Missing email</span
    >
    <span *ngIf="emailBox.touched && emailBox.errors?.['email']" class="error"
      >Invalid email format</span
    >

    <label for="password">password</label>
    <input
      type="password"
      name="password"
      #passwordBox="ngModel"
      [(ngModel)]="newUser.password"
      required
      minlength="4"
      (input)="checkPasswordStrength()"
    />
    <span
      *ngIf="passwordBox.touched && passwordBox.errors?.['required']"
      class="error"
      >Missing password</span
    >
    <span
      *ngIf="passwordBox.touched && passwordBox.errors?.['minLength']"
      class="error"
      >Password has to be longer than 4 characters</span
    >
    <span *ngIf="passwordInvalid" class="error">
      Password must contain both numbers and characters
    </span>
    <span *ngIf="passwordWeak" class="weak">
      Password is weak, we recommend you use a stronger combination
    </span>
    <span *ngIf="passwordStrong" class="strong"> Password is strong </span>

    <label for="confirmPassword">confirm password</label>
    <input
      type="password"
      name="confirmPassword"
      #confirmPasswordBox="ngModel"
      [(ngModel)]="confirmPassword"
      required
      minlength="4"
    />
    <span
      *ngIf="confirmPasswordBox.touched && confirmPasswordBox.errors?.['required']"
      class="error"
      >Missing confirmation of password</span
    >
    <span
      *ngIf="confirmPasswordBox.touched && confirmPasswordBox.errors?.['minLength']"
      class="error"
      >Password has to be longer than 4 characters</span
    >
    <button [disabled]="registrationForm.invalid">Register</button>
  </form>
</div>
