<div class="container">
  <h3>Don't Plan. Just Fly.</h3>
  <app-vacations-data-handler
    [sortBy]="sortBy"
    [filterBy]="filterBy"
    [user]="user"
    (sortChange)="sort($event)"
    (filterChange)="toggleFilter($event)"
    (searchChange)="search($event)"
  ></app-vacations-data-handler>
  <div class="vacations-grid" @listAnimation [@listAnimation]="key">
    <app-vacation-card
      (vacationAltered)="receivedChangeFromChild($event)"
      *ngFor="let v of vacations; trackBy: trackByFn"
      [vacation]="v"
      @leave
    />
  </div>
  <div class="pagination-btns">
    <button [disabled]="currPage <= 1" (click)="backwards()">Backwards</button>
    <button [disabled]="vacations?.length < 9" (click)="forwards()">
      Forwards
    </button>
  </div>
</div>
