:root {
  --primary: #a5e9e1;
  --primary-darkened: #08ab98;
  --secondary: #2e2b2b;
  --secondary-lightened: #4c4848;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: var(--secondary-lightened);
}
* {
  user-select: none;
}
form {
  position: relative;
  width: 300px;
  border: 1px solid;
  text-align: left;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
}

form > input,
form > button,
form > textarea {
  width: 100%;
  margin-bottom: 1rem;
  font-size: large;
}

form > textarea {
  height: 20vh;
}

form > .error {
  color: rgb(245, 57, 57);
  position: absolute;
  margin-left: 20px;
  width: 100%;
}
form > .weak {
  color: rgb(249, 184, 80);
  position: absolute;
  margin-left: 20px;
  width: 100%;
}
form > .strong {
  color: rgb(104, 237, 120);
  position: absolute;
  margin-left: 20px;
  width: 100%;
}
