<div>
  <form (ngSubmit)="send()" #myForm="ngForm">
    <label for="vacationDestination">Destination:</label>
    <input
      type="text"
      name="vacationDestination"
      #destinationBox="ngModel"
      [(ngModel)]="vacation.destination"
      required
      minLength="2"
      maxLength="20"
    />
    <span
      *ngIf="destinationBox.touched && destinationBox.errors?.['required']"
      class="error"
      >Missing destination</span
    >
    <span
      *ngIf="destinationBox.touched && destinationBox.errors?.['minLength']"
      class="error"
      >Destination has to be longer than one character</span
    >
    <span
      *ngIf="destinationBox.touched && destinationBox.errors?.['maxLength']"
      class="error"
      >Destination cannot be longer than 20 characters</span
    >

    <label for="vacationDescription">Description:</label>
    <textarea
      type="text"
      name="vacationDescription"
      #descriptionBox="ngModel"
      [(ngModel)]="vacation.description"
      required
      minLength="2"
      maxLength="1000"
    ></textarea>
    <span
      *ngIf="descriptionBox.touched && descriptionBox.errors?.['required']"
      class="error"
      >Missing description</span
    >
    <span
      *ngIf="descriptionBox.touched && descriptionBox.errors?.['minLength']"
      class="error"
      >Description has to be longer than one character</span
    >
    <span
      *ngIf="descriptionBox.touched && descriptionBox.errors?.['maxLength']"
      class="error"
      >Description cannot be longer than 1000 characters</span
    >
    <label for="startDate">Start Date:</label>
    <input
      type="date"
      name="startDate"
      #startDateBox="ngModel"
      [(ngModel)]="formattedStartDate"
      required
    />
    <span
      *ngIf="startDateBox.touched && startDateBox.errors?.['required']"
      class="error"
      >Missing start date.</span
    >

    <label for="endDate">End Date:</label>
    <input
      type="date"
      name="endDate"
      #endDateBox="ngModel"
      [(ngModel)]="formattedEndDate"
      required
    />
    <span
      *ngIf="endDateBox.touched && endDateBox.errors?.['required']"
      class="error"
      >Missing end date.</span
    >

    <label for="price">Price:</label>
    <input
      type="number"
      name="price"
      #priceBox="ngModel"
      [(ngModel)]="vacation.price"
      required
      min="0"
    />
    <span
      *ngIf="priceBox.touched && priceBox.errors?.['required']"
      class="error"
      >Missing price</span
    >
    <span *ngIf="priceBox.touched && priceBox.errors?.['min']" class="error"
      >Price cannot be negative.</span
    >

    <div
      [ngStyle]="{
        'background-image':
          'url(' +
          (selectedImageUrl?.length ? selectedImageUrl : vacation?.imageUrl) +
          ')'
      }"
      class="image-thumbnail"
    >
      <button type="button" (click)="fileInput.click()">Replace Image</button>
    </div>

    <input
      type="file"
      name="image"
      (change)="onFileSelected($event)"
      [(ngModel)]="mockImageValue"
      #imageInput="ngModel"
      #fileInput
      required
    />
    <span *ngIf="imageError" class="error">{{ imageError }}</span>
    <span *ngIf="imageInput.touched && !image" class="error"
      >Missing image</span
    >

    <button type="submit" [disabled]="myForm.invalid">Submit Changes</button>
  </form>
</div>
